<h1>Show Artical</h1>
<p><strong>Title: </strong><%= @articals.title%></p>
<p><strong>Body: </strong><%= @articals.body%></p>
<%= link_to "Back", articals_path%> | <%= link_to "Eidt", edit_artical_path(@articals) %>
